<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>crm</title>
</head>

<body>
    <div class="container">
        <h1 class="conatainer__title">Sign In</h1>
        <p class="container__text">Enter your email and password below</p>
        <form action="/" method="post" class="form">
            <input name="userName" type="text" placeholder="UserName" class="login-input">
            <input name="password" type="password" placeholder="Password" class="login-input">
            <button type="submit" class="login-button">Enter</button>
        </form>
    </div>
    <p>User: Alisher <br> parol: 0101</p>
</body>

</html>